
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OGRAME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{url_for('static',filename="bootstrap/css/bootstrap.css")}}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="container">
    <div class"span9 offset3">
    {% for event in events %}
    <div>
      <h1>{{event.title|unescape}}</h1>
      <p>{{event.description|unescape}}</p>
      <p>{{event.pubDate|unescape}}</p>
      <p>{{event.guid}}</p>
      <p>{{event.link}}</p>
  </div>
{% endfor %}
</div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for('static',filename="bootstrap/js/jquery.js")}}"></script>
    <script src="{{url_for('static',filename="bootstrap/js/bootstrap-transition.js")}}"></script>
    <script src="{{url_for('static',filename="bootstrap/js/bootstrap-alert.js")}}"></script>
    <script src="{{url_for('static',filename="bootstrap/js/bootstrap-modal.js")}}"></script>
    <script src="{{url_for('static',filename="bootstrap/js/bootstrap-dropdown.js")}}"></script>
    <script src="{{url_for('static',filename="bootstrap/js/bootstrap-scrollspy.js")}}"></script>
    <script src="{{url_for('static',filename="bootstrap/js/bootstrap-tab.js")}}"></script>
    <script src="{{url_for('static',filename="bootstrap/js/bootstrap-tooltip.js")}}"></script>
    <script src="{{url_for('static',filename="bootstrap/js/bootstrap-popover.js")}}"></script>
    <script src="{{url_for('static',filename="bootstrap/js/bootstrap-button.js")}}"></script>
    <script src="{{url_for('static',filename="bootstrap/js/bootstrap-collapse.js")}}"></script>
    <script src="{{url_for('static',filename="bootstrap/js/bootstrap-carousel.js")}}"></script>
    <script src="{{url_for('static',filename="bootstrap/js/bootstrap-typeahead.js")}}"></script>

  </body>
</html>
